.callout {
  --callout-tip: #059669;
  --callout-info: #0284c7;
  --callout-warning: #d97706;
  --callout-danger: #dc2626;
  position: relative;
}

.callout-bg {
  opacity: 0.1;
  z-index: -1;
}

.callout-tip {
  .callout-bg {
    background-color: var(--callout-tip);
  }

  .callout-header {
    color: var(--callout-tip);
  }
}

.callout-info {
  .callout-bg {
    background-color: var(--callout-info);
  }

  .callout-header {
    color: var(--callout-info);
  }
}

.callout-warning {
  .callout-bg {
    background-color: var(--callout-warning);
  }

  .callout-header {
    color: var(--callout-warning);
  }
}

.callout-danger {
  .callout-bg {
    background-color: var(--callout-danger);
  }

  .callout-header {
    color: var(--callout-danger);
  }
}

.callout-content>*:first-child {
  margin-top: 0 !important;
}

.callout-content>*:last-child {
  margin-bottom: 0 !important;
}